/*GENERALE */
* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}


/*HEADER*/
header {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    position: relative;
}

header a.logo {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

header a.logo span {
    color: orange;
    font-size: 40px;
}



nav ul {
    display: flex;
    column-gap: 30px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
}

nav ul li a.active {
    border-bottom: 5px solid orange;
    padding-bottom: 28px;
}

nav ul li a:hover {
    border-bottom: 5px solid orange;
    padding-bottom: 28px;
    transition: 0.5s;
}


/* MENU DE NAVIGATION RESPONSIVE */
nav label i {
    color: rgba(255, 255, 255, 0.663);
    font-size: 30px;
}

nav input {
    display: none;
}

nav label {
    display: none;
}




/* BANNIERRE */
div#bannierre {
    width: 100%;
    height: 60vh;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div#bannierre h5 {
    color: orange;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 25px;
    font-weight: lighter;
}

div#bannierre h1 {
    font-size: 55px;
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

div#bannierre a {
    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px 30px;
    background-color: rgb(130, 84, 0);
    letter-spacing: 5px;
    border-radius: 50px;
    transition: 0.5s;
}

div#bannierre a:hover {
    background-color: white;
    color: rgb(130, 84, 0);
    padding: 10px 33px;
    transition: 0.5s;
}

/*  Mes recettes*/

section.container {
    width: 80%;
    margin: auto;
    padding: 100px 0px;
}


.categorie ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.categorie ul li a {
    color: black;
    font-size: 20px;
}

.categorie ul li a.active {
    color: orange;
}

.categorie ul li a:hover {
    color: orange;
}


/* MES CARTES */
div#cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    row-gap: 40px;
}

div#cards div.card {
    border: 0.5px solid gray;
    width: 31%;
}

div.card img {
    width: 100%;
    cursor: pointer;
}

div.card div.card-title {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

div.card-title h3 {
    color: rgba(173, 115, 8, 0.84);
    font-size: 20px;
    cursor: pointer;
}

div.card-body {
    margin: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

div.card div.card-footer p.rate {
    color: orange;
}

div.card div.card-footer {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(149, 99, 6);
}



/* Pagination */
.pagination ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.pagination ul li {
    border: 1px solid rgb(85, 82, 82);

}

.pagination ul li a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
}

.pagination ul li a.active {
    background-color: orange;
    color: white;
}

.pagination ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: orange;
}



/* FOOTER */
footer hr {
    width: 80%;
    margin: auto;
}

footer p {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 15px;
    color: #4a4a4a;
}

footer p a {
    color: #e74343;
}

footer div {
    text-align: center;
    padding-bottom: 50px;
}

footer div i {
    font-size: 25px;
    padding: 0px 20px;
    color: #e74343;
}


/* ADAPTER MON SITE AU FORMAT MOBILE ET TABLETTE */
/* Les écrans dont largeur est inférieur ou égale à 800px */
@media screen and (max-width: 800px) {
    header a.logo {
        font-size: 30px;
    }
    header a.logo span{
        font-size: 30px;
    }
    div#bannierre h5 {
        font-size: 22px;
    }

    div#bannierre h1 {
        font-size: 32px;
    }

    /* MENU DE NAVIGATION */
    nav ul {
        border-top: 0.1px solid white;
    }

    .mobile-menu {
        display: none;
    }

    nav label {
        display: flex;
    }

    nav input[type="checkbox"]:checked+.mobile-menu {
        display: flex;
        top: 100%;
        left: 0;
        position: absolute;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        background-color: #333;
        width: 100%;
    }

    nav ul li a.active {
        color: orange;
        border: none;
    }

    nav ul li a:hover {
        border: none;
        color: orange;
    }

    /*  MON MENU REPAS*/
    div#recette {
        flex-direction: column;
        row-gap: 20px;
    }

    /* MES CARTES */
    div#cards div.card {
        width: 100%;
    }

    /* A propos */
    .apropos .apropos-container {
        flex-direction: column;
    }

    .apropos-container div {
        width: 100%;
    }

    /* CATEGORIE */
    .categorie ul {
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
    }

    .pagination ul {
        /* flex-direction: column; */
        column-gap: 5px;
    }

    .pagination ul li a{
        font-size: 15px;
        padding: 10px 15px;
    }

    * {
        font-size: 16px;
    }
    footer p {
        font-size: 13px;
        padding: 0 10px;
        margin-top: 20px;
    }
    
}